@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  @apply w-full h-full bg-lightMode dark:bg-darkMode;
}

@font-face {
  font-family: Chakra Petch;
  src: url("../src/assets/fontChakra/ChakraPetch-Regular.ttf");
}
@font-face {
  font-family: Chakra Petch Bold;
  src: url("../src/assets/fontChakra/ChakraPetch-Bold.ttf");
}
@font-face {
  font-family: Chakra Petch SemiBold;
  src: url("../src/assets/fontChakra/ChakraPetch-SemiBold.ttf");
}
@font-face {
  font-family: Chakra Petch Italic;
  src: url("../src/assets/fontChakra/ChakraPetch-Italic.ttf");
}

@layer base {
  .font-outline-1-black {
    -webkit-text-stroke: 0.75px #000000;
  }
  .font-outline-1-white {
    -webkit-text-stroke: 0.75px #D9D9D9;
  }
}


